body {
    margin: 0;
    font-family: "DB Head";

    -webkit-tap-highlight-color: transparent;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.db-page {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.db-page-top {
    background-color: #ec0016;
    width: 100%;
    height: 65vh;
    align-items: flex-end;
    justify-content: center;
    display: flex;
}

.db-page-bottom {
    background-color: white;
    width: 100%;
    height: 24vh;

    display: flex;
    justify-content: center;
    align-items: center;
}

.start-round {
    background-color: red;
    width: 100px;
    height: 100px;
    border-radius: 100%;

    display: flex;
    justify-content: center;
    align-items: center;
}

.start-text {
    color: white;
}

.db-footer {
    width: 100%;
    background-color: white;
}

.db-page-top img {
    height: auto;
    width: 95vw;
}

.db-footer img {
    height: 52px;
    width: auto;
}

.school-icon {
    margin: 0 5px 4px 5px;
    fill: #7b827a;
}
.mock-point {
    display: flex;
    align-items: center;
    align-self: flex-start;
    margin-left: 10px;
    margin-bottom: 10px;
}
.mock-point-text {
    font-size: 20px;
}
.mock-point-icon {
    width: 55px;
    height: 55px;
    margin-right: 15px;
    color: white;
    background-color: #ec0016;
    border-radius: 50%;
    text-align: center;
    line-height: 55px;
    font-size: 30px;
    font-family: "DB Sans";
    font-weight: bold;
}
.db-card {
    .top {
        font-family: "DB Head";
        margin-bottom: 16px;
    }

    .point-icon {
        margin-left: -15px;
    }

    padding: 16px;
    font-size: 20px;
    display: flex;
    flex-direction: column;
    width: 85vw;
    height: 270px;

    background-color: #ec0016;
    border-radius: 15px;
    /*margin: 10px;*/
}

.point-text-value {
    font-family: "DB Head";
    font-size: 34px;
    margin-top: -10px;
}

.db-card2 {
    background-color: green;
}

.db-carousel-container li.react-multi-carousel-item {
    margin-left: 4px;
    flex-shrink: 0;
}

.db-carousel-container {
    width: 100%;
    margin-left: 10px;
    margin-top: 30px;
    margin-bottom: 50px;
}

.red {
    fill: #ec0016;
}

.db-body.db-body_cards {
    overflow-x: hidden;
    overflow-y: scroll;
}

.db-carousel-container a {
    color: white;
}
.db-carousel-container a:visited {
    color: white;
}
.db-carousel-container a:hover {
    color: white;
}

.point {
    display: flex;
    align-items: center;
}
.point-text-container {
    display: flex;
    flex-direction: column;
    margin-left: 20px;
}

.school-cards-header {
    font-family: "DB Head";
    font-size: 34px;
    align-self: flex-start;
    margin-left: 10px;
    margin-top: 20px;
}

.school-cards-subheader {
    font-size: 25px;
    align-self: flex-start;
    margin-left: 10px;
    max-width: 90vw;
}

@font-face {
    font-family: "DB Head";
    src: url(/dbhead-black.woff2) format("woff2");
    font-weight: 700;
    font-style: normal;
    font-display: swap
}

@font-face {
    font-family: "DB Sans";
    src: url(/dbsans-bold.woff2) format("woff2");
    font-weight: 700;
    font-style: normal;
    font-display: swap
}

@font-face {
    font-family: "DB Sans";
    src: url(/dbsans-regular.woff2) format("woff2");
    font-weight: 400;
    font-style: normal;
    font-display: swap
}